.cards-container {
    background-color: #F5F7FA;
    padding: 80px 0;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  margin-top: 40px;
}

@media (width >= 600px) {
  .cards > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards > ul > li {
  border: 1px solid #E3E4E5;
  background-color: var(--background-color);
  box-shadow: 4px 4px 20px 0 #0000000D;
  border-radius: 8px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .cards-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.cards .cards-link svg {
  flex-shrink: 0;
}
