.cpp-hero-container {
    background-color: #1E2127;
    color: #fff;
    padding-block: 80px;
    width: 100%;
}

.cpp-hero-wrapper .cpp-hero-badge {
    border: 1px solid #0273CF;
    width: max-content;
    padding: 8px 16px;
    border-radius: 30px;
    background: #0273CF33;
}

.cpp-hero-title, .cpp-hero-list li {
    margin-top: 16px;
    margin-bottom: 0;
}

.cpp-hero-description, .cpp-hero-buttons, .cpp-hero-card-title {
    margin-top: 24px;
}

.cpp-hero-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cpp-hero-main {
    max-width: 760px;
}

.cpp-hero-card-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cpp-hero-card-icon {
    width: 40px;
    height: 40px;
    background-color: #0273CF;
    border-radius: 8px;
}

.cpp-hero-card-icon svg {
    margin: auto;
    display: block;
    height: 100%;
}

.cpp-hero-card {
    padding: 40px;
    box-shadow: 4px 4px 20px 0 #0000000D;
    border: 1px solid #FFF;
    border-radius: 8px;
    max-width: 400px;
}

/* Button styling for cpp-hero block */
.cpp-hero-buttons {
    display: flex;
    gap: 16px;
}

.block.cpp-hero {
    width: 100%;
}

/* Mobile Responsive */
@media (width <= 768px) {
    .cpp-hero-container {
        padding-block: 24px;
    }

    .cpp-hero-wrapper {
        flex-direction: column;
        gap: 32px;
        align-items: stretch;
    }

    .cpp-hero-main {
        max-width: 100%;
        order: 1;
    }

    .cpp-hero-card {
        order: 2;
        padding: 24px;
    }
}
