.cpp-hero-container {
    background: linear-gradient(123.25deg, #0052A5 0%, #0273CF 100%);
    color: #fff;
    padding-block: 80px;
    width: 100%;
}

.cpp-hero-wrapper .cpp-hero-badge {
    border: 1px solid #0273CF;
    width: max-content;
    padding: 8px 16px;
    border-radius: 30px;
    background: #0273CF33;
}

.cpp-hero-title {
    margin-top: 16px;
    margin-bottom: 0;
}

.cpp-hero-description, .cpp-hero-buttons {
    margin-top: 24px;
}

.cpp-hero-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cpp-hero-main {
    max-width: 760px;
}

/* Button styling for cpp-hero block */
.cpp-hero-buttons {
    display: flex;
    gap: 16px;
}

.block.cpp-hero {
    width: 100%;
}


/* Mobile Responsive */
@media (width <= 768px) {
    .cpp-hero-container {
        padding-block: 24px;
    }

    .cpp-hero-wrapper {
        flex-direction: column;
        gap: 32px;
        align-items: stretch;
    }

    .cpp-hero-main {
        max-width: 100%;
    }
}
