/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #2C3D50;
  --link-color: #0273CF;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Open Sans', sans-serif;

  /* body sizes */
  --body-font-size: 14px;
  --body-font-weight: 400;

  /* heading sizes */
  --heading-font-size-h1: 48px;
  --heading-font-size-h2: 36px;
  --heading-font-size-h3: 24px;
  --heading-font-size-h4: 16px;
  --heading-font-weight: 600;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* Same sizes for desktop */
    --body-font-size: 14px;
    --heading-font-size-h1: 48px;
    --heading-font-size-h2: 36px;
    --heading-font-size-h3: 24px;
    --heading-font-size-h4: 16px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-h1); }
h2 { font-size: var(--heading-font-size-h2); }
h3 { font-size: var(--heading-font-size-h3); }
h4 { font-size: var(--heading-font-size-h4); }
h5 { font-size: var(--heading-font-size-h4); }
h6 { font-size: var(--heading-font-size-h4); }

p {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0;
}

code,
pre {
  font-size: var(--body-font-size);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
  font-weight: 700;
}

a.link-primary {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

a.link-primary svg {
    flex-shrink: 0;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button, 
.button,
.button-primary,
.button-secondary {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 1px solid #0273CF;
  border-radius: 2.4em;
  padding: 12px 16px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-size: var(--body-font-size); /* 14px */
  font-weight: 700; /* Button/Body Bold */
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: #0273CF;
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-primary:hover,
a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: #0052A4 !important;
  border: 1px solid #0273CF !important;
  color: #fff !important;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary,
.button-secondary {
    background: #fff !important;
    color: #0273CF !important;
    border: 1px solid #0273CF !important;
}

a.button.secondary:hover,
button.secondary:hover,
.button-secondary:hover {
  background-color: #E3E4E5 !important;
  color: #0273CF !important;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1272px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}



.insights-badge , .badge-secondary, .badge-primary {
    border: 1px solid #0273CF;
    width: max-content;
    padding: 8px 16px;
    border-radius: 30px;
    background: #0273CF33;
}

.badge-primary {
    background: #fff;
    color: #0273CF;
    border: 1px solid #E3E4E5;
}

.badge-secondary p, .badge-primary p {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}